/* Background-nav-footer*/

.bg-color-cofee {
  background-color: #632100; 
}
/* color-link */
.text-cream {
  color: #f9e2c5;
}

.text-cream:hover {
  color: #b59672;
  transition: 0.3s;
}

.bg-coffee-break{
  background-image: url(../img/bg-section-index.jpg); 
  background-size: cover;
  height: 100vh;
}
